{% extends 'default.html' %}
{%load static%}
{% block style %}
<link rel="stylesheet" href="{%static 'home/css/style.css'%}">
<link rel="stylesheet" href="{%static 'home/css/courses.css'%}">
{% endblock style %}
{% block body %}
<div class="Courses">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="SingleCourse">
                    <span class="Language">
                        Hindi
                    </span>
                    <img src="{%static 'home/img/courses/Python.png'%}">
                    <h4>Python for Absolute Beginner</h4>
                    <hr>
                    <div class="lower-bar">
                        <h6>30 lessons </h6>
                        <span class="price-tag">
                            <h6>Free</h6>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="SingleCourse">
                    <span class="Language">
                        Hindi
                    </span>
                    <img src="{%static 'home/img/courses/JavaScript.png'%}">
                    <h4>JavaScript for Absolute Beginner</h4>
                    <hr>
                    <div class="lower-bar">
                        <h6>30 lessons </h6>
                        <span class="price-tag">
                            <h6>Free</h6>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="SingleCourse">
                    <span class="Language">
                        Hindi
                    </span>
                    <img src="{%static 'home/img/courses/C++.png'%}">
                    <h4>C++ for Absolute Beginner</h4>
                    <hr>
                    <div class="lower-bar">
                        <h6>30 lessons </h6>
                        <span class="price-tag">
                            <h6>Free</h6>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="SingleCourse">
                    <span class="Language">
                        Hindi
                    </span>
                    <img src="{%static 'home/img/courses/Linux.png'%}">
                    <h4>Linux for Beginner</h4>
                    <hr>
                    <div class="lower-bar">
                        <h6>30 lessons </h6>
                        <span class="price-tag">
                            <h6>Free</h6>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="SingleCourse">
                    <span class="Language">
                        Hindi
                    </span>
                    <img src="{%static 'home/img/courses/C.png'%}">
                    <h4>C for Absolute Beginner</h4>
                    <hr>
                    <div class="lower-bar">
                        <h6>30 lessons </h6>
                        <span class="price-tag">
                            <h6>Free</h6>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="SingleCourse">
                    <span class="Language">
                        Hindi
                    </span>
                    <img src="{%static 'home/img/courses/CSS.png'%}">
                    <h4>Complete CSS</h4>
                    <hr>
                    <div class="lower-bar">
                        <h6>30 lessons </h6>
                        <span class="price-tag">
                            <h6>Free</h6>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="SingleCourse">
                    <span class="Language">
                        Hindi
                    </span>
                    <img src="{%static 'home/img/courses/JavaScript.png'%}">
                    <h4>Advanced JavaScript</h4>
                    <hr>
                    <div class="lower-bar">
                        <h6>30 lessons </h6>
                        <span class="price-tag">
                            <h6>Free</h6>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="SingleCourse">
                    <span class="Language">
                        Hindi
                    </span>
                    <img src="{%static 'home/img/courses/DataStructure.png'%}">
                    <h4>Data Structure</h4>
                    <hr>
                    <div class="lower-bar">
                        <h6>30 lessons </h6>
                        <span class="price-tag">
                            <h6>Free</h6>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="SingleCourse">
                    <span class="Language">
                        Hindi
                    </span>
                    <img src="{%static 'home/img/courses/Java.png'%}">
                    <h4>Java for Absolute Beginner</h4>
                    <hr>
                    <div class="lower-bar">
                        <h6>30 lessons </h6>
                        <span class="price-tag">
                            <h6>Free</h6>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="SingleCourse">
                    <span class="Language">
                        Hindi
                    </span>
                    <img src="{%static 'home/img/courses/Git.png'%}">
                    <h4>Git</h4>
                    <hr>
                    <div class="lower-bar">
                        <h6>30 lessons </h6>
                        <span class="price-tag">
                            <h6>Free</h6>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="SingleCourse">
                    <span class="Language">
                        Hindi
                    </span>
                    <img src="{%static 'home/img/courses/Bootstrap.png'%}">
                    <h4>Complete Bootstrap 4</h4>
                    <hr>
                    <div class="lower-bar">
                        <h6>30 lessons </h6>
                        <span class="price-tag">
                            <h6>Free</h6>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="SingleCourse">
                    <span class="Language">
                        Hindi
                    </span>
                    <img src="{%static 'home/img/courses/Flask.png'%}">
                    <h4>Flask</h4>
                    <hr>
                    <div class="lower-bar">
                        <h6>30 lessons </h6>
                        <span class="price-tag">
                            <h6>Free</h6>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="SingleCourse">
                    <span class="Language">
                        Hindi
                    </span>
                    <img src="{%static 'home/img/courses/FullStack.png'%}">
                    <h4>Full Stack Web Development (HTML5+CSS+JavaScript+MySQL)</h4>
                    <hr>
                    <div class="lower-bar">
                        <h6>30 lessons </h6>
                        <span class="price-tag">
                            <h6>Free</h6>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="SingleCourse">
                    <span class="Language">
                        Hindi
                    </span>
                    <img src="{%static 'home/img/courses/Java.png'%}">
                    <h4>Advanced Java</h4>
                    <hr>
                    <div class="lower-bar">
                        <h6>30 lessons </h6>
                        <span class="price-tag">
                            <h6>Free</h6>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="SingleCourse">
                    <span class="Language">
                        Hindi
                    </span>
                    <img src="{%static 'home/img/courses/FullStack.png'%}">
                    <h4>Full Stack Web Development with Django</h4>
                    <hr>
                    <div class="lower-bar">
                        <h6>30 lessons </h6>
                        <span class="price-tag">
                            <h6>Free</h6>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="SingleCourse">
                    <span class="Language">
                        Hindi
                    </span>
                    <img src="{%static 'home/img/courses/Android.png'%}">
                    <h4>Android for Absolute Beginner</h4>
                    <hr>
                    <div class="lower-bar">
                        <h6>30 lessons </h6>
                        <span class="price-tag">
                            <h6>Free</h6>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="SingleCourse">
                    <span class="Language">
                        Hindi
                    </span>
                    <img src="{%static 'home/img/courses/Kotlin.png'%}">
                    <h4>Kotlin for Absolute Beginner</h4>
                    <hr>
                    <div class="lower-bar">
                        <h6>30 lessons </h6>
                        <span class="price-tag">
                            <h6>Free</h6>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="SingleCourse">
                    <span class="Language">
                        Hindi
                    </span>
                    <img src="{%static 'home/img/courses/Django.png'%}">
                    <h4>Django for Beginner</h4>
                    <hr>
                    <div class="lower-bar">
                        <h6>30 lessons </h6>
                        <span class="price-tag">
                            <h6>Free</h6>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="SingleCourse">
                    <span class="Language">
                        Hindi
                    </span>
                    <img src="{%static 'home/img/courses/MachineLearning.png'%}">
                    <h4>Machine Learning using Python</h4>
                    <hr>
                    <div class="lower-bar">
                        <h6>30 lessons </h6>
                        <span class="price-tag">
                            <h6>Free</h6>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="SingleCourse">
                    <span class="Language">
                        Hindi
                    </span>
                    <img src="{%static 'home/img/courses/Angular.png'%}">
                    <h4>Angular for Absolute Beginner</h4>
                    <hr>
                    <div class="lower-bar">
                        <h6>30 lessons </h6>
                        <span class="price-tag">
                            <h6>Free</h6>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="SingleCourse">
                    <span class="Language">
                        Hindi
                    </span>
                    <img src="{%static 'home/img/courses/PHP.png'%}">
                    <h4>PHP for Absolute Beginner</h4>
                    <hr>
                    <div class="lower-bar">
                        <h6>30 lessons </h6>
                        <span class="price-tag">
                            <h6>Free</h6>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}